@page
@model UserManagement.Pages.Admin.Users.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create New User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vm.Email" class="control-label"></label>
                <input asp-for="vm.Email" class="form-control" />
                <span asp-validation-for="vm.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.Password"></label>
                <input asp-for="vm.Password" class="form-control" />
                <span asp-validation-for="vm.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.ConfirmPassword"></label>
                <input asp-for="vm.ConfirmPassword" class="form-control" />
                <span asp-validation-for="vm.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.FirstName" class="control-label"></label>
                <input asp-for="vm.FirstName" class="form-control" />
                <span asp-validation-for="vm.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.LastName" class="control-label"></label>
                <input asp-for="vm.LastName" class="form-control" />
                <span asp-validation-for="vm.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.PhoneNumber" class="control-label"></label>
                <input asp-for="vm.PhoneNumber" class="form-control" />
                <span asp-validation-for="vm.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="vm.Enabled" checked="checked"/> @Html.DisplayNameFor(model => model.vm.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <select asp-for="SelectedRoles" asp-items="Model.RoleList" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
